<router-outlet></router-outlet>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="container m-2 d-flex" style="width: 100vw">
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex" style="width: 80vw">
        <div class="col">
          <div class="card h-100">
            <img src="../assets/bank.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BANCOS</h5>
              <p class="card-text">Consulte e cadastre novos bancos!</p>
              <a routerLink="/bancos" class="btn btn-primary">Consultar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../assets/sellers.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CLIENTES</h5>
              <p class="card-text">Consulte e cadastre novos clientes!</p>
              <a routerLink="/clients" class="btn btn-primary">Consultar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../assets/sell.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VENDAS</h5>
              <p class="card-text">Consulte e cadastre novas vendas!</p>
              <a routerLink="/payment" class="btn btn-primary">Consultar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../assets/typebuy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TIPOS DE COMPRAS</h5>
              <p class="card-text">Consulte e cadastre novos tipos de compras!</p>
              <a routerLink="/paymentType" class="btn btn-primary">Consultar</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="../assets/address.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ENDEREÇO DOS CLIENTES</h5>
                <p class="card-text">Consulte e cadastre novos endereços!</p>
                <a routerLink="/adress_client" class="btn btn-primary">Consultar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/address1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ENDEREÇO DOS IMÓVEIS</h5>
                <p class="card-text">Consulte e cadastre novos endereços!</p>
                <a routerLink="/adress_immobile" class="btn btn-primary">Consultar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/financing.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">FINANCIAMENTO</h5>
                <p class="card-text">Consulte e cadastre novos financiamentos!</p>
                <a routerLink="/financing" class="btn btn-primary">Consultar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/immobile.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">IMÓVEL</h5>
                <p class="card-text">Consulte e cadastre novos imóveis!</p>
                <a routerLink="/immobile" class="btn btn-primary">Consultar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/immobiletype.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TIPOS DE IMÓVEIS</h5>
                <p class="card-text">Consulte e cadastre novos tipos de imóveis!</p>
                <a routerLink="/immobileTypes" class="btn btn-primary">Consultar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/propr.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PROPRIETÁRIOS</h5>
                <p class="card-text">Consulte e cadastre novos proprietários!</p>
                <a routerLink="/owners" class="btn btn-primary">Consultar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/propr.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">VENDEDORES</h5>
                <p class="card-text">Consulte e cadastre novos vendedores!</p>
                <a routerLink="/sellers" class="btn btn-primary">Consultar</a>
              </div>
            </div>
          </div>
</div>


<footer>
  <!-- Se o footer possuir muito conteúdo, você pode criar um component pra ele e substituir esse elemento pelo seletor do componente -->
</footer>
