<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="container" style="width:100vw">
    <h2 class="text-center display-3">Cadastrar Novo Vendedor</h2>

    <div class="row">
        <div>
            <label class="form-label">ID Vendedor</label>
            <input class="form-control" #id_vendedor type="text" id="idbanco" value=""/>
        </div>
        <div>
            <label class="form-label">Nome</label>
            <input class="form-control" #name_vendedor type="text" id="nomebanco" value="" name="nome"/> 
        </div>
        <div>
            <label class="form-label">Matricula</label>
            <input class="form-control" #matricula_vendedor type="text" id="nomebanco" value="" name="nome"/> 
        </div>
        <div>
            <label class="form-label">Email</label>
            <input class="form-control" #email_vendedor type="text" id="nomebanco" value="" name="nome"/> 
        </div>
        <div>
            <label class="form-label">Telefone</label>
            <input class="form-control" #telefone_vendedor type="text" id="nomebanco" value="" name="nome"/> 
        </div>
    </div> 
    <div class="d-flex flex-row mt-2">
        <input class="btn btn-primary m-2" type="button" (click)="insereNovoVendedor(id_vendedor.value, name_vendedor.value, matricula_vendedor.value, email_vendedor.value, telefone_vendedor.value)" value="Inserir">
        <input class="btn btn-primary m-2" type="button" routerLink="/owners" value="Voltar">
    </div>   
</div>

