<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="container" style="width:100vw">
    
      <div class="d-flex flex-row mb-3">
          <div class="p-2"><button type="button" class="btn btn-primary" routerLink="">HOME</button></div>
          <div class="p-2"><button type="button" class="btn btn-primary" routerLink="/enderecoimovelcadastro">NOVO</button></div>
      </div>

      <table class="table">
            <thead>
                  <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rua</th>
                        <th scope="col">Número</th>
                        <th scope="col">Apto</th>
                        <th scope="col">Bloco</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">CEP</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">UF</th>
                  </tr>                  
            </thead>
            <tbody>
                  <tr *ngFor="let endereco_imovel of adressesimmobiles">
                        <th scope="row">{{ endereco_imovel.id_endereco_imov }}</th>
                        <td scope="row">{{ endereco_imovel.rua_imov }}</td>
                        <td scope="row">{{ endereco_imovel.numero_imov }}</td>
                        <td scope="row">{{ endereco_imovel.apto_imov }}</td>
                        <td scope="row">{{ endereco_imovel.bloco_imov }}</td>
                        <td scope="row">{{ endereco_imovel.bairro_imov }}</td>
                        <td scope="row">{{ endereco_imovel.cep_imov }}</td>
                        <td scope="row">{{ endereco_imovel.cidade_imov }}</td>
                        <td scope="row">{{ endereco_imovel.uf_imov }}</td>
                  </tr>             
            </tbody> 
      </table>
</div>
